.image{
    width: 100%;

}

.video-title{
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.video-author{
    font-size: 13px;
    color: rgb(96, 96, 96);
    margin-top: 12px;
    margin-bottom: 4px;
}

.video-stats{
    font-size: 13px;
    color: rgb(96, 96, 96);
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: contain;
}

.picture-row{
    margin-bottom: 12px;
    position: relative;
    cursor: pointer;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 15px;
    row-gap: 40px; 
}

@media (max-width: 700px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}




.video-time{
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    padding: 4px;
    border-radius: 100px;
}

.link{
    font-size: 15px;
    margin-left: 10px;
   

}
.channel-picture1{
    position: relative;
}

.profile-view{
   height: 50px;
   width: 50px;
   border-radius: 25px;
  
}
.sub-container{
    position: absolute;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    opacity: 0;
    transition: 1s;
}

.profile-picture1, pictures/channel-1.jpeg:hover .sub-container{
    opacity: 1;
}

.profile-name{
    font-weight: bold;
}

.profile-suscribers{
    color: grey;
}